@model EmpViewModel
@{
    ViewData["Title"] = "Details";
}
<h1 class="pb-5">Employee Details</h1>
<partial name="PartialViews/DeleteDetailsEmpPartial">
    <a asp-controller="Employee" asp-action="Edit" class="btn btn-warning">
        <i class="fa-solid fa-pencil"></i> Update
    </a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back To List <= </a>
