@model Employee
@{
    ViewData["Title"] = "Details";
}
<h1 class="pb-5">Edit Employee</h1>
    <partial name="PartialViews/CreateEditEmpPartial">
    <a asp-controller="Employee" asp-action="Edit" class="btn btn-warning">
        <i class="fa-solid fa-pencil"></i> Update
    </a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back To List <= </a>
