@model Department

@{
    ViewData["Title"] = "Details";
}
<h1 class="pb-5">Department Details</h1>

    <partial name="PartialViews/CreateEditDeptPartila">
    <a asp-action="Update" class="btn btn-outline-primary">Update</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back To List <= </a>
