@model DeptViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="pb-5">Edit Department</h1>
<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit">
    <partial name="PartialViews/CreateEditDeptPartila">
    <input type="submit" class="btn btn-outline-primary" value="Edit" />
    <a asp-action="Index" class="btn btn-outline-secondary">Back To List <= </a>
</form>

@section ValidationScriptSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}