@model ResetPasswordViewModel
@{
	ViewData["Title"] = "SignUp";
	Layout = "~/Views/Shared/_Authlayout.cshtml";
}

<h1>SignUp</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ResetPassword" method="post">
			<input class="text" asp-for="Passoword" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<input type="submit" value="ResetPassword">
		</form>
	</div>
</div>