@model SendResetPasswordEmilViewModel

@{
    ViewData["Title"] = "SendEmail";
    Layout = "~/Views/Shared/_Authlayout.cshtml";

}

<div asp-validation-summary="ModelOnly"></div>


<div class="container p-3 mt-5 border rounded w-75">
    <form asp-action="SendResetPasswordEmail">
        <h3 class="w-100 text-center rounded font-weight-bold mb-3"> Send Reset Password Email </h3>

        <div class="mb-3">
            <input name="Email" placeholder="Email" class="form-control" />
        </div>

        <div class="d-flex justify-content-center mb-3">
            <input class="btn btn-success w-100" type="submit" value="Send Email" />
        </div>

    </form>

</div>

@section ValidationScriptsSection
{
    <partial name="_ValidationScriptsPartial" />

}







@* @model SendResetPasswordEmilViewModel
@{
    ViewData["Title"] = "SendEmail";
    Layout = "~/Views/Shared/_Authlayout.cshtml";
}

<h1>SignUp</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All"></div>
        <form asp-action="SendResetPasswordEmail" method="post">
            <input class="text email" asp-for="Email" placeholder="Email" required="">
            <input type="submit" value="SendEmail">
        </form>

        @*  @section ValidationScriptSection
        {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        } 
    </div>
</div> *@
