@model SigninViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Authlayout.cshtml";
}

<h1>SignUp</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All"></div>
        <form asp-action="SignIn" method="post">
            <input class="text email" asp-for="Email" placeholder="Email" required="">
            <input class="text" asp-for="Passoword" placeholder="Password" required="">
            <div class="wthree-text">
                <label class="anim">
                    <input asp-for="RememberMe" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"></div>
            </div>
            <input type="submit" value="SIGNIN">
        </form>
        @*  @section ValidationScriptSection
        {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        } *@
    </div>
</div>
